* {
    border: solid 2px red;
}

body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    margin: 0;
}

.site-header {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.site-header-options {
    align-items: center;
    display: flex;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-content: space-around;
}

.site-header-nav {
    align-items: center;
    display: flex;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-content: end;
}

.site-header-search {
    align-items: center;
    display: flex;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-content: center;
}

.site-header-user {
    align-items: start;
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1 / 3;
    grid-row: 2 / 3 ;
    justify-content: center;
}

.site-main {
    background-color: gray;
    display: grid;
}

.site-main-announcements-item, 
.site-main-projects-item, 
.site-main-trending-item {
    background-color: white;
}

.site-main-announcements {
    display: grid;
}

.site-main-projects {
    display: grid;
}

.site-main-trending {
    display: grid;
}

.site-sidebar {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}