* {
    /* border: solid 2px red; */
}

body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    margin: 0rem;
}

h3 {
    margin: 0rem;
}

p {
    margin: 0rem;
}

.site-header {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.site-header-options {
    align-items: center;
    display: flex;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-content: space-around;
    list-style: none;
    padding-left: 0rem;
}

.site-header-options-item {
    background-color: aqua;
    border-radius: 2rem;
    list-style: none;
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.site-header-nav {
    align-items: center;
    display: flex;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-content: end;
}

.site-header-search {
    align-items: center;
    display: flex;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-content: center;
}

.site-header-user {
    align-items: start;
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-content: center;
}

.site-main {
    background-color: gray;
    display: grid;
    gap: 2rem;
    grid-template: 1fr 1fr / 2.5fr 1fr;
    padding-left: 2rem;
}

.site-main-announcements,
.site-main-trending {
    padding-right: 2rem;
}

.site-main-announcements-content,
.site-main-projects-item,
.site-main-trending-content {
    background-color: white;
    border-radius: 2rem;
}

.site-main-announcements {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.site-main-projects {
    grid-row: 1 / 3;
}

.site-main-projects-content {
    display: grid;
    gap: 2rem;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.site-main-projects-item {
    padding: 1rem;
}

.site-main-trending-content {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.site-sidebar {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-row: 1 / 3;
}